@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
}

header {
  text-align: center;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 50px;
  background: #525252;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background: #a63f00;
}

input:checked+label:after {
  left: calc(100% - 8px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

.wrapper {
  width: 560px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}

.carousel__image {
  max-width: 190px;
  height: 412px;
  padding-right: 8px;
}